<!-- Navigation Partial Template -->

<!-- <header class=" ">
    <div class="inner">
        <nav class="nav justify-content-left">
            <a id='list' class="nav-link" href="/api/aplikacijaPopis?idkorisnik=1"><img src="/slike/logo.png" width="auto" height="100" alt="logo">
            
            </nav>
    </div>
</header>-->

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <!--<a class="navbar-brand js-scroll-trigger" href="/api/aplikacijaPopis?idkorisnik=1"><img src="/slike/logo.png" width="auto" height="50" alt="logo"></a>-->
        <a class="navbar-brand js-scroll-trigger" href="#"><img src="/slike/logo.png" width="auto" height="50" alt="logo"></a>

     
        <a href="/api/odjava" class="sakrij"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        <!--<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>-->
    </div>
</nav>

<br><br><br><br><br>